In [1]:
#Dependencies
import os
import pandas as pd
import requests
import pymongo
from bs4 import BeautifulSoup
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
#Splinter Set Up
executable_path = ChromeDriverManager().install()
executable_path
browser = Browser('chrome', executable_path=executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [/Users/Morgaine/.wdm/drivers/chromedriver/mac64/90.0.4430.24/chromedriver] found in cache

# NASA Mars News Scraping

In [3]:
#Set up for NASA Mars News Scraping
mars_news_url = "https://redplanetscience.com/"
browser.visit(mars_news_url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [4]:
#NASA Mars News Scraping for Latest News Title and Paragraph Text
mars_news_title = soup.find('div', class_='content_title').text
mars_news_paragraph = soup.find('div', class_='article_teaser_body').text

In [5]:
#Display scraped Title & Paragraph Text
print(f'The Latest NASA Mars News Title: {mars_news_title}')
print(f'The Latests NASA Mars News Paragraph Text: {mars_news_paragraph}')

The Latest NASA Mars News Title: MOXIE Could Help Future Rockets Launch Off Mars
The Latests NASA Mars News Paragraph Text: NASA's Perseverance rover carries a device to convert Martian air into oxygen that, if produced on a larger scale, could be used not just for breathing, but also for fuel.

# Featured Mars Image Scraping

In [6]:
#Set up for JPL Featured Mars Image Scraping
jpl_url = "https://spaceimages-mars.com/"
browser.visit(jpl_url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [7]:
#Use Splinter to find the Image URL for the current Featured Mars Image
image_url = soup.find('img', class_='headerimage fade-in')['src']
featured_image_url = f'{jpl_url}{image_url}'
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars2.jpg

# Mars Facts Scraping

In [8]:
#Set up for Mars Facts Scraping
facts_url = 'https://galaxyfacts-mars.com/'
facts_table = pd.read_html(facts_url)
facts_table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [9]:
mars_facts = facts_table[0]
mars_facts

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [10]:
mars_facts = mars_facts.rename(columns=mars_facts.loc[0]).drop(mars_facts.index[0])
mars_facts

  Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days
6            Temperature:     -87 to -5 °C      -88 to 58°C

In [11]:
mars_facts = mars_facts.rename(columns={'Mars - Earth Comparison': ''})
mars_facts

                                  Mars            Earth
1           Diameter:         6,779 km        12,742 km
2               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3              Moons:                2                1
4  Distance from Sun:   227,943,824 km   149,598,262 km
5     Length of Year:   687 Earth days      365.24 days
6        Temperature:     -87 to -5 °C      -88 to 58°C

In [12]:
mars_facts_table = mars_facts[['', 'Mars', 'Earth']].reset_index(drop=True)
mars_facts_table = mars_facts_table.set_index('')
mars_facts_table

                               Mars            Earth

Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:           -87 to -5 °C      -88 to 58°C

In [13]:
#Convert the formated DataFrame to a HTML table string
mars_facts_html_table = mars_facts_table.to_html(classes = 'table table-striped')
mars_facts_html_table = mars_facts_html_table.replace('\n', ' ')
print(mars_facts_html_table)

<table border="1" class="dataframe table table-striped">   <thead>     <tr style="text-align: right;">       <th></th>       <th>Mars</th>       <th>Earth</th>     </tr>     <tr>       <th></th>       <th></th>       <th></th>     </tr>   </thead>   <tbody>     <tr>       <th>Diameter:</th>       <td>6,779 km</td>       <td>12,742 km</td>     </tr>     <tr>       <th>Mass:</th>       <td>6.39 × 10^23 kg</td>       <td>5.97 × 10^24 kg</td>     </tr>     <tr>       <th>Moons:</th>       <td>2</td>       <td>1</td>     </tr>     <tr>       <th>Distance from Sun:</th>       <td>227,943,824 km</td>       <td>149,598,262 km</td>     </tr>     <tr>       <th>Length of Year:</th>       <td>687 Earth days</td>       <td>365.24 days</td>     </tr>     <tr>       <th>Temperature:</th>       <td>-87 to -5 °C</td>       <td>-88 to 58°C</td>     </tr>   </tbody> </table>

# Mars Hemisphere Images Scraping

In [15]:
#Scrape Cerberus Hemisphere
hemispheres_url = 'https://marshemispheres.com/'
browser.visit(hemispheres_url)
browser.links.find_by_partial_text('Cerberus Hemisphere Enhanced').click()
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

hemisphere1_title = soup.find('h2', class_='title').text
hemisphere1_img = soup.find('img', class_='wide-image')['src']
hemisphere1_img_url = f'{hemispheres_url}{hemisphere1_img}'
print(hemisphere1_title)
print(hemisphere1_img_url)

Cerberus Hemisphere Enhanced
https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg

In [17]:
#Scrape Schiaparelli Hemisphere
hemispheres_url = 'https://marshemispheres.com/'
browser.visit(hemispheres_url)
browser.links.find_by_partial_text('Schiaparelli Hemisphere Enhanced').click()
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

hemisphere2_title = soup.find('h2', class_='title').text
hemisphere2_img = soup.find('img', class_='wide-image')['src']
hemisphere2_img_url = f'{hemispheres_url}{hemisphere2_img}'
print(hemisphere2_title)
print(hemisphere2_img_url)

Schiaparelli Hemisphere Enhanced
https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg

In [18]:
#Scrape Syrtis Major Hemisphere
hemispheres_url = 'https://marshemispheres.com/'
browser.visit(hemispheres_url)
browser.links.find_by_partial_text('Syrtis Major Hemisphere Enhanced').click()
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

hemisphere3_title = soup.find('h2', class_='title').text
hemisphere3_img = soup.find('img', class_='wide-image')['src']
hemisphere3_img_url = f'{hemispheres_url}{hemisphere3_img}'
print(hemisphere3_title)
print(hemisphere3_img_url)

Syrtis Major Hemisphere Enhanced
https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg

In [19]:
#Scrape Syrtis Major Hemisphere
hemispheres_url = 'https://marshemispheres.com/'
browser.visit(hemispheres_url)
browser.links.find_by_partial_text('Valles Marineris Hemisphere Enhanced').click()
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

hemisphere4_title = soup.find('h2', class_='title').text
hemisphere4_img = soup.find('img', class_='wide-image')['src']
hemisphere4_img_url = f'{hemispheres_url}{hemisphere4_img}'
print(hemisphere4_title)
print(hemisphere4_img_url)

Valles Marineris Hemisphere Enhanced
https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg